.NavigationItems{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-flow: column;
  align-items: center;
  height: 100%;
  white-space:nowrap;
}

@media (min-width: 576px) {
  .Wrapper {
    flex-flow: row;
    justify-content: space-between;
  }
  .NavigationItems{
    flex-flow: row;
  }
}
