.PostpageWrapper {
  margin-top: 60px;
  flex-flow: column;
  align-items: center;
  max-width: 614px;
  margin-bottom: 16px;
}

.PostpageWrapper hr {
  color: #666;
}

.PostFooter {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  margin-top: 8px;
}

.PostImage {
  width: 100%;
}