.NavigationItems{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  white-space:nowrap;
}

.Wrapper {
  flex-flow: row;
  justify-content: space-between;
}
