.Toolbar{
  height: 100%;
  width: 100%;
  display: flex;
  font-size: 24px;
  font-weight: bolder;
  justify-content: space-between;
}

.LoggedIn{
  margin: 0 10px;
}

/* .GuestUI{
  display: inline-block;
} */

.UserUI{
  /* flex-flow: row; */
  display: inherit;
}
