.Logo {
  height: 56px;
  width: 56px;
  box-sizing: border-box;
  margin: 4px 24px;
  display: flex;
}

.Logo a{
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: inherit; 
}

.Logo a:hover {
  background-color:  rgb(23, 191, 99, 0.5);
  border-radius: 50%;
}

.Logo a img {
  height: 44px;
  width: 44px;
  margin: 6px;
}

