.UserAvatar {
  width: 300px;
  height: 56px;
  box-sizing: border-box;
  padding: 8px;
  margin-bottom: 16px;
  display: flex;
}

.UserAvatar h2 {
  margin: auto 16px;
}

.PostHeader {
  box-sizing: border-box;
  display: flex;
}

.PostHeader h3 {
  margin: auto 16px;
}

.UserAvatarLarge {
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 16px auto;
}

.UserAvatarLarge h1 {
  margin: auto 16px;
}