.PopularPost{
  border: 1px solid #eee;
  border-radius: 5px;
  background-color: #fff;
  max-width: 300px;
}

.PopularPost h2 {
  color: black;
  margin: 5px 10px;
}

.Row {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
