.NavigationItem{
  box-sizing: border-box;
  padding: 0 10px;
  align-items: center;
  margin: 0;
  display: flex;
  height: 64px;
  width: 128px;
}
 
.NavigationItem a{
  width: 100%;
  background-color: white;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: auto; 
  border-bottom: 4px solid transparent;
}

.NavigationItem a:hover {
  background-color: rgb(23, 191, 99, 0.2);
  color: #17bf63;
}

.NavigationItem a:active,
.NavigationItem a.active {
  border-bottom: 4px solid #17bf63;
  color: #17bf63;
}

