
.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.Form {
  display:flex;
  justify-content:center;
}

.LoginBtn {
  color: #666;
  border-color: #666;
  font-weight: bold;
  margin: 0 5px;
}

.LoginBtn:hover {
  color: mediumseagreen;
  border-color: mediumseagreen;
}