
.register-form {
  width: 300px;
}
.register-form-forgot {
  float: right;
}
.register-form-button {
  width: 100%;
}

.Form {
  display:flex;
  justify-content:center;
}

.SignupBtn {
  color: #666;
  border-color: #666;
  font-weight: bold;
  margin: 0 5px;
}

.SignupBtn:hover {
  color: mediumseagreen;
  border-color: mediumseagreen;
}
